body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#one {
    color: orange;
}

h1 {
    font-size: 50px;
}

.first-page {
    width: 50%;
    margin-left: 5%;

}

.first-page-image {
    width: 40%;
    margin-left: 5%;
}

section {
    display: flex;
    padding-top: 10%;

}

.hire-me {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    color: white;
    font-weight: 700;


}

.background-image {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.secound-bannar {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}